* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
body{
    background: #EEEEEE;
}


/* header style.... */
*nav {
    display: flex;
}
nav{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(6, 1fr);
    background: rgba(255, 255, 255, 0.616);
    height: 5rem;
    align-items: center;
    justify-items: center;
    width: 80vw;
    margin: auto;
    margin-top: 2vh;
}

nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 700;
}

.logo{
    width: 70px;
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
} */

/* sections start here... */

.all-sections{
    min-height: calc(100vh - 5rem);
    width: 80vw;
    margin: auto;
    margin-top: 30px;
    display: grid;
    gap: 30px;
}

/* slider css */

.swiper {
    width: 100%;
    height: 60vh;
    max-height: 60vh;
}

.swiper-slide {
    position: relative;
    text-align: left;
    font-size: 28px;
    background: #444040;
    height: 100%;
    
}

.swiper-slide .slider-text{
    z-index: 1;
    position: absolute;
    margin-left: 80px;
    text-align: left;
    top: 35%;
    color: white;
    font-family: 'Raleway';
    display: grid;
    gap: 10px;
}

.swiper-slide .slider-text h3{
    font-size: 20px;
    font-weight: 400;
}


.swiper-slide .slider-text h1{
    font-size: 49px;
    font-weight: 600;
}

.swiper-slide .slider-text a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    background: #2F80ED;
    padding: 10px 20px;
    width: max-content;
}


.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}